name: Voting App CI CD DevSevOps Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  code_scan:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4

      - name: Create Reports Directory
        run: mkdir -p reports

      - name: Pylint Scan
        run: |
          docker run \
          --rm \
          -v $(pwd):/workspace \
          cytopia/pylint /workspace/backend/app \
          | tee reports/pylint_report.txt \
          || true
          
      - name: Flake8 Scan
        run: |
          docker run \
          --rm \
          -v $(pwd):/workspace \
          alpine/flake8 /workspace/backend/app \
          | tee reports/flake8_report.txt \
          || true

      - name: Trivy Fs Scan
        run: |
          docker run \
          --rm \
          -v $(pwd):/workspace \
          aquasec/trivy fs --severity HIGH,CRITICAL --no-progress /workspace \
          | tee reports/trivy_report.txt \
          || true

      - name: Upload Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Code Scan Reports
          path: reports

      - name: CleanUp
        if: always()
        run: rm -rf reports

  image_scan:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    needs: code_scan
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4

      - name: Create Reports Directory
        run: mkdir -p reports

      - name: Build Docker Images
        run: docker compose build

      - name: Trivy Image Scan
        run: |
          > reports/trivy_img_scan_report.txt
          Images="voting_app_backend voting_app_frontend postgres:16-alpine nginx:stable-alpine"
          for img in $Images; do
            echo "------------ Scanning Image $img -----------------"
            SAFE_NAME=$(echo $img | tr ':' '_')
            docker run \
            --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $(pwd)/reports:/reports \
            aquasec/trivy image --severity HIGH,CRITICAL --no-progress $img \
            --output reports/"$SAFE_NAME".txt \
            || true
            echo "--------------------------------------------------"
          done

      - name: Upload Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Image Scan Reports
          path: reports

      - name: CleanUp
        if: always()
        run: rm -rf reports

  deploy_app:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    needs: image_scan
    steps:
      - name: Deploy Application
        run: |
          docker compose down -v
          docker compose up -d --no-build
    
